<!DOCTYPE html>
<html>
<head>
    <title>Hotels_in_the_city</title>
</head>
<style>
    body {
        background-color: #5CCC;
        padding: 20px;
    }
    h1 {
        font-size: 30;
    }
</style>
<body>
<h1>{{city.name}}</h1>
<h2><a href="/cities/">Список всех городов</a></h2>
<div class="">
    <ul>
        {% for hotel in hotels %}
            <li><a href="/cities/{{city.id}}/places/hotels/{{hotel.id}}">{{ hotel.title }}</a>
                <p><img scr="{{ hotel.photo }}" alt=Picture></p>
            </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>